@tailwind base;
@tailwind components;
@tailwind utilities;

#deleteModal {
    display: none;
}
#deleteModal.show {
  display: flex;
}
.hidden {
  display: none;
}
.file-input-wrapper {
  display: flex;
  align-items: center;
}
#customFileInputBtn {
  cursor: pointer;
}
#fileName {
  margin-left: 10px;
  font-size: 14px;
  color: #4a4a4a;
}

